/*
	Company Name:	GenXCoders Pvt. Ltd.
	Author Name:	Er Aashish Handa
	Date:			Sep 29, 2019
	Client:			Gaurav Sharma
	Project Name:	AWADH
	Project Type:	Restaurant Management System
*/
html {
	position: relative;
	min-height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	background-color: #f1f4f6;
	line-height: 1.5;
	font-size: 13px;
	margin-bottom: 50px;
}

footer {
	color: #ffffff;
	line-height: 50px;
	text-align: center;
	font-size: 12px;
	font-weight: 600;
	letter-spacing: 1px;
}

.footer {
	position: absolute;
	bottom: 0 !important;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 50px;
	background-color: #172337;
}

/* Color Scheme */
.dark-primary-color    { background: #1976D2; }
.default-primary-color { background: #2196F3; }
.light-primary-color   { background: #BBDEFB; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #FFC107; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }
/* Color Scheme */

/* Shadow */
.gxcpl-card-shadow {
	box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,0.03),
				0 0.9375rem 1.40625rem rgba(4,9,20,0.03),
				0 0.25rem 0.53125rem rgba(4,9,20,0.05),
				0 0.125rem 0.1875rem rgba(4,9,20,0.03);
}
/* Shadow */

/* Background Color */
.gxcpl-card-white {
	background-color: rgba(255,255,255,1);
}
.gxcpl-card-dark-blue {
	background-color: #1976D2;
	color: #ffffff;
}
/* Background Color */

/* Link Color */
a.gxcpl-anchor {
	color: #333333 !important;
	text-decoration: none;
}
/* Link Color */

/* Spacing */
.gxcpl-ptop-5 {
	padding-top: 5px;
}
.gxcpl-ptop-10 {
	padding-top: 10px;
}
.gxcpl-ptop-20 {
	padding-top: 20px;
}
.gxcpl-ptop-30 {
	padding-top: 30px;
}
.gxcpl-ptop-40 {
	padding-top: 40px;
}
.gxcpl-ptop-50 {
	padding-top: 50px;
}
.gxcpl-no-padding {
	padding: 0px !important;
}
.gxcpl-no-margin {
	margin: 0px !important;
}
hr.style7 {
	margin: 5px 0px 10px;
	border-top: 1px solid #2121;
	border-bottom: 1px solid #fff;
}
/* Spacing */

/* Card */
.gxcpl-card {
	width: 100%;
	min-height: 1%;
	height: auto;
	border-radius: 4px;
	border: 1px solid rgba(0,0,0,0.05);
}
.gxcpl-card-header {
	width: 100%;
	height: 40px;
	padding: 5px 10px;
}
.gxcpl-card-header > h4, .gxcpl-card-header > h5 {
	text-transform: uppercase;
	line-height: 30px;
}
.gxcpl-card-header > h5 {
	font-weight: 600;
}
.gxcpl-card-body {
	width: 100%;
	min-height: 1%;
	height: auto;
	padding: 5px 10px;
	border-top: 1px solid rgba(26,54,126,0.125);
	border-bottom: 1px solid rgba(26,54,126,0.125);
}
.gxcpl-card-footer {
	width: 100%;
	height: 50px;
	line-height: 50px;
	padding: 7px 5px;
}
/* Card */

/* Button */
.gxcpl-btn {
	text-transform: uppercase;
	font-weight: 600;
}
/* Button */

/* Login */
.gxcpl-center-div {
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 300px;
	height: 450px;
}
img.gxcpl-login-logo {
	margin: auto; 
	display: block;
	width: 96px;
	height: 96px;
}
/* Login */

/* Form */
.gxcpl-input {
	border: 1px solid rgba(26,54,126,0.125);
	border-radius: 4px;
	padding: 5px 10px;
	width: 100%;
}
.gxcpl-form-col-height {
	height: 25px;
	line-height: 25px;
}
.gxcpl-input-text {
	border: 0px;
	border-bottom: 2px solid rgba(26,54,126,0.125);
	width: 100%;
}
.gxcpl-input-text:focus {
	border-bottom: 2px solid #FFC107;
}
select {
	width: 100%;
	height: 30px;
	border: 0px;
	border-bottom: 1px solid rgba(26,54,126,0.125);

}
select:focus {
	border-bottom: 1px solid #34b070;	
}
label.gxcpl-label {
	font-size: 11px;
}
/* Form */

/* Transition */
.gxcpl-transition {
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
/* Transition */

/* Navbar */
#gxcpl.gxcpl-navbar-shadow {
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
#gxcpl.navbar-default .navbar-brand {
    color: rgba(255, 255, 255, 1);
}
#gxcpl.navbar-default {
    font-size: 13px;
    background-color: rgba(25, 118, 210, 1);
    border-bottom-width: 0px;
}
#gxcpl.navbar-default .navbar-nav>li>a {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(25, 118, 210, 1);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.5px;
}
#gxcpl.navbar-default .navbar-nav>li>a:hover,
#gxcpl.navbar-default .navbar-nav>li>a:focus {
    color: rgba(33, 33, 33, 1);
    background-color: rgba(255, 193, 7, 1);
}
#gxcpl.navbar-default .navbar-nav>.active>a,
#gxcpl.navbar-default .navbar-nav>.active>a:hover,
#gxcpl.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(33, 33, 33, 1);
    background-color: rgba(255, 193, 7, 1);
}
#gxcpl.navbar-default .navbar-toggle {
    border-color: #ffc107;
}
#gxcpl.navbar-default .navbar-toggle:hover,
#gxcpl.navbar-default .navbar-toggle:focus {
    background-color: #ffc107;
}
#gxcpl.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffc107;
}
#gxcpl.navbar-default .navbar-toggle:hover .icon-bar,
#gxcpl.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #1976d2;
}
.dropdown-menu > .active > a, 
.dropdown-menu > .active > a:hover, 
.dropdown-menu > .active > a:focus {
	color: rgba(33, 33, 33, 1);
	text-decoration: none;
	background-color: #ffc107;
	font-weight: 500;
}
/* Navbar */

/* Site Content */
.gxcpl-content-div {
	padding-top: 70px;
}
/* Site Content */

/* Table */
table {
	width: 100%;
	min-height: 1%;
	height: auto;
	border-radius: 4px;
	border: 1px solid rgba(0,0,0,0.05);
}
table > thead.gxcpl-table-header, table > tbody.gxcpl-table-body, table > tfoot.gxcpl-table-footer {
	width: 100%;
	height: 40px;
	padding: 5px 10px;
	line-height: 40px;
}

th, td {
	padding: 0px 10px;
}
th, td {
	border-bottom: 1px solid rgba(26,54,126,0.125);
}
/* Table 